mixin my_skills()
	section#my_skills.border
		.container
			section
				h2.title my scills
			article.my_skills
				section.lists
					ul
						li
							p User Experience
							.meter
								span
						li
							p User Experience
						li
							p User Experience
				section.lists
					ul
						li
							p User Experience
						li
							p User Experience
						li
							p User Experience
