mixin my_skills()
	section#my_skills.border
		.container
			section
				h2.title my scills
			article.my_skills

				section.skills
					ul

						li
							h3 HTML5
								p 90%
							span.bar 
								span.html

						li
							h3 CSS3
								p 80%
							span.bar 
								span.css
							
						li
							h3 JavaScript
								p 65%
							span.bar 
								span.javascript

				section.skills
					ul

						li
							h3 Jquery
								p 90%
							span.bar 
								span.html

						li
							h3 Gulp
								p 80%
							span.bar 
								span.css
								
						li
							h3 Git
								p 65%
							span.bar 
								span.javascript
