mixin my_skills()
	section#my_skills.border
		.container
			section
				h2.title my scills
			article.my_skills

				section.skills
					ul

						li
							h3 HTML5
								
							span.bar 
								span.html

						li
							h3 CSS3
							span.bar 
								span.css
							
						li
							h3 JavaScript
								
							span.bar 
								span.javascript

				section.skills
					ul

						li
							h3 Sass
								
							span.bar 
								span.html

						li
							h3 Gulp
								
							span.bar 
								span.css
								
						li
							h3 Git
							
							span.bar 
								span.javascript
