mixin sidebar()
	aside#sidebar
		article.sidebar_flex
			section.head_mnu
				h2 Illia Soroka
				p Web Developer
			nav.sidebar_roll
				ul
					li
						a(class="link" href="#header") Home
					li
						a(class="link" href="#about_me") About Me
					li
						a(class="link" href="#education") Education
					li
						a(class="link" href="#work_expirience") Work Experience
					li
						a(class="link" href="#my_skills") Skills
					li
						a(class="link" href="#") Portfolio
					li
						a(class="link" href="#contacts") Contacts