mixin sidebar()
	aside#sidebar
		article.sidebar_flex
			section.head_mnu
				h2 Illia Soroka
				p Web Developer
			nav.sidebar_roll
				ul
					li
						a(href="#header") Home
					li
						a(href="#about_me") About Me
					li
						a(href="#education") Education
					li
						a(href="#work_expirience") Work Experience
					li
						a(href="#my_skills") Skills
					li
						a(href="#") Portfolio
					li
						a(href="#contacts") Contacts