mixin work_experience()
	section#work_experience.border
		.container
			article
				h2.title.title_color Work Experiance
			article.about_my_background
				section.column.column_1
					.stake.stake_1.stake_grup_1
						.head_stake
							h3 CEO &amp; Founder 
							p @DeviserWeb
						.background_date
							p Jan 2013 - Dec 2014
						.about
							p Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
					.stake.stake_2.stake_grup_1
						.head_stake
							h3 CEO &amp; Founder 
							p @DeviserWeb
						.background_date
							p Jan 2013 - Dec 2014
						.about
							p Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea. 
				section.line
					
					img(src="img/icon/circle.svg", alt="circle")
					.line_circle.circle_1
					img(src="img/icon/circle.svg", alt="circle")
					.line_circle.circle_2
					img(src="img/icon/circle.svg", alt="circle")
					.line_circle.circle_1
					img(src="img/icon/circle.svg", alt="circle")
				section.column.column_1
					.stake.stake_3.stake_grup_2
						.head_stake
							h3 CEO &amp; Founder 
							p @DeviserWeb
						.background_date
							p Jan 2013 - Dec 2014
						.about
							p Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
					.stake.stake_4.stake_grup_2
						.head_stake
							h3 CEO &amp; Founder 
							p @DeviserWeb
						.background_date
							p Jan 2013 - Dec 2014
						.about
							p Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.