mixin contacts()
	section#contacts.border
		.container
			.my_contacts

				section.message
					form(class="forms" action="index.html" method="post")
						h3 Leave a Message
						
						input(type="text" id="name" name="user_name" placeholder="Name*" required
)
						input(type="email" id="email" name="user_email" placeholder="Email*" required
)
						textarea(id="bio" name="user_bio" placeholder="Message*" min="100" required
)
						button(type="submit" class="button" id="button") Hire Me!



				section.line
					.line_circle

				section.contact_info
					section.contact#location
						.icons
							img(src="img/icons/Home.svg", alt="home")
						.text
							h3 Location
							address
								| Chicago, IL
					section.contact
						.icons
							img(src="img/icons/Mail_2.svg", alt="home")
						.text
							h3 email
							address
								a(href="mailto:ilycha92@gmail.com")| ilycha92@gmail.com
						
					section.contact
						.icons
							img(src="img/icons/Phone.svg", alt="home")
						.text
							h3 toll free call
							address
								| 312-613-5235
						