mixin contacts()
	section#contacts.border
		.container
			section.message
			section.line
				.line_circle

			section.contact
				.icons
					img(src="img/icon/Home.svg", alt="home")
				.text
					h3 Location
					address
						| 324, Golden Tower, Amborkhana, Sylhet
				

			section.contact
				.icons
					img(src="img/icon/Mail_2.svg", alt="home")
				.text
					h3 email
					address
						a(href="mailto:elijah92ilya@gmail.com")| elijah92ilya@gmail.com
				

			section.contact
				.icons
					img(src="img/icon/Phone.svg", alt="home")
				.text
					h3 toll free call
					address
						| 312-613-5235
					