#contacts
	color: #000
	h3
		text-transform: capitalize
	.line_circle
		height: 250px
		padding: 0 40px

.my_contacts, .contact
	display: flex
	align-items: center
	flex-direction: row

.message

	width: 50%
	h3
		font-size: 1.571em
		margin-left: 39px

form
	width: 400px
	padding: 10px 20px
	background: #f4f7f8
	border-radius: 8px
	input, textarea
		height: 30px
		width: 80%
		margin: 5px auto
	textarea
		height: 100px

.contact_info, .text, form
	display: flex
	flex-direction: column
	align-items: flex-start

.contact
	margin: 25px 0

address
	padding-top: 10px
	font-style: normal
	a
		color: #656565

.icons
	padding-right: 45px
