mixin header()
	header#header
		section.head.container
			h1 Lets Make Something Great
			p I’m a FrontEnd Web developer. I am engaged in the development of responsive cross-browser and cross-platform websites.
			a(href="https://www.linkedin.com/in/illia-soroka-224952186/" class="button" target="_blank") Hire Me!

