mixin header()
	header#header
		section.head.container
			h1 Lets Make Something Great
			p I’m an UI designer that prides ourself on being strategic brand partners and awesome product providers
			a(href="#" class="button") Hire Me!

