mixin content()
	section.content
		.container
			p content
			h1 12h
			h2 h2
			h3 h3
			h4 h4
			article
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quae consequuntur repudiandae voluptatum eius, voluptate voluptates numquam, ad dolore omnis incidunt ratione veritatis blanditiis soluta earum nostrum aut, quasi deleniti.