mixin footer()
	footer#footer
		.container
			.social_networks
				a(href="https://github.com/illiasoroka" target="_blank") 
					img(src="img/icons/github.svg", alt="GitHub")
				a(href="https://www.linkedin.com/in/illia-soroka-224952186/"  target="_blank") 
					img(src="img/icons/linkedin.svg", class="linkedin", alt="linkedin")
				a(href="https://www.instagram.com/ilysha_soroka/" target="_blank") 
					img(src="img/icons/instagram.svg", alt="FaceBook")
			.footer
				p Copyright:&copy; 2020 Illia Soroka, All rights reserved