mixin about_me()
	section#about_me.border
		.container
			section.info_about_me
				article.info
					h2.title About Me
					p At the moment, I continue to study FrontEnd Web development by courses (Treehouse) and independently.
					ul.roll
						li 
							h3 Name :
							p  &nbsp;Illia Soroka
						li 
							h3 Age :
							p  &nbsp;28 Years
						li 
							h3 Email :
							a(href="mailto:elijah92ilya@gmail.com ") &nbsp; elijah92ilya@gmail.com
						li 
							h3 Web : 
							a(href="https://www.linkedin.com/in/illia-soroka-224952186/" target="_blank") &nbsp;  My linkedIn URL
						li 
							h3 Address :
							p  &nbsp;Chicago IL
				section.my_photo
					.img