mixin about_me()
	section#about_me.border
		.container
			section.info_about_me
				article.info
					h2.title About Me
					p Lorem ipsum dolor sit amet, ectetuer nonummy nibh euismod tincidunt ut laoreet  magna  laoreet  aliquam erat volutpat.
					ul.roll
						li 
							h3 Name :
							p  &nbsp;Illia Soroka
						li 
							h3 Age :
							p  &nbsp;28 Years
						li 
							h3 Email :
							p &nbsp; ilycha92@gmail.com
						li 
							h3 Web : 
							a(href="https://illiasoroka.github.io/Project_1.1/" target="_blank") &nbsp;  my project
						li 
							h3 Address :
							p  &nbsp;2555 N Nordica ave, Chicago IL
				section.my_photo
					img(src="img/im.png", alt="")