mixin about_me()
	section.about_me.border
		.container
			article.info_about_me
				h2.title About Me
				p Lorem ipsum dolor sit amet, ectetuer nonummy nibh euismod tincidunt ut laoreet  magna  laoreet  aliquam erat volutpat.
				ul.roll
					li 
						h3 Name :
						p  &nbsp;Illia Soroka
					li 
						h3 Age :
						p  &nbsp;28 Years
					li 
						h3 Email :
						p &nbsp; ilycha92@gmail.com
					li 
						h3 Web :
						p  &nbsp;dev
					li 
						h3 Address :
						p  &nbsp;2555 N Nordica ave, Chicago IL
			section.my_photo
				img(src="img/im.png", alt="")